include README.md
include LICENSE
include VERSION
include python/imctermite/*.pyx
include python/imctermite/*.pxd
include python/imctermite/*.pyi
include python/imctermite/py.typed
recursive-include docs *.md
recursive-include lib *.hpp
